<!DOCTYPE html>
<html lang="pt-BR">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="wrapper">
        <%- include('./partials/posts') %>
    </div>
</body>
</html>