body {
    margin: 0;
    background-color: #f6f6f6;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 1.5rem;
    color: #555
}

.header {
    padding: 0 3rem;
}

.wrapper {
    padding: 1rem 3rem;
}